[includeIf "gitdir:~/projects/"]
    path = ~/projects/.gitconfig

[includeIf "gitdir:~/work/axpl/"]
    path = ~/work/axpl/.gitconfig

[includeIf "gitdir:~/work/priv_gitlab/"]
    path = ~/work/priv_gitlab/.gitconfig

